v0.0/
test_data/
data/
.venv
.venv-1
__pycache__/
.env
.vscode
*.json
scratch_nb/
reports/
*.ipynb
logo_small.png
qr.png
!System_Architecture.png
queries/
.Identifier
prompts.json
*.sql
update_sql.sh