{% extends "base.html" %}
{% block content %}
    <aside>"The strength of a government depends on the intelligence and virtue of its citizens."<br>- Oliver Ellsworth</aside>
    <h2>About this site</h2>
    <p>This is a quick starting point for anyone who wants to stay informed about the local government happenings in Windsor, Connecticut.</p>
    <p>The simple algorithm seeks out the Town Council meeting minutes when they are published online, downloads the text, summarizes it with a Large Language Model (AI), and posts the summary here.</p>
    <p>If you think that's nifty, please <a href="/signup">sign up</a> to be notified when the weekly digest launches.</p>

    <h3>About me</h3>
    <p>I moved to Connecticut in 2013, and Windsor in 2023. I'm a full time engineer who's constantly trying to understand what's going on around me.</p>
    <p>I get frustrated when a new Bill or Act in Congress that's been in works for months makes the news and everyone seems to have a hot-take far too late. My goal is to start local and make the day-to-day government decisions easy to follow concisely and objectively, because the "boring" stuff is only boring until it's not.</p>

    <h3>About Artificial Intelligence</h3>
    <p>AI is cool, and it's capable of a lot of things. I chose to use it because of it's ability to quickly process text and provide concise summaries of official government documents. That said, it is capable of mistakes. If you read something you think has been reported in error, please <a href="/report-error">report it.</a></p>
    <h4>AI Models</h4>
    <p>This site is currently configured to use one Large Language Model (LLM).</p>
    <table>
        <tr>
            <th>Provider</th>
            <th>Model</th>
        </tr>
        <tr>
            <td>Anthropic</td>
            <td>claude-sonnet-4-6</td>
        </tr>
        <!-- <tr>
            <td>OpenAI</td>
            <td>gpt-4o-mini</td>
        </tr> -->
    </table>

    <hr>

{% endblock %}