{% extends "base.html" %}
{% block content %}
<div class="timeline">
{% for article in articles %}
    <article>
        <h2>{{ article['summary']['headline'] }}</h2>
        <p>Summarized by: {{ article['byline'] }} | Date: {{ article['meeting_date'] }}</p>
        <ul>
            {% for bullet in article['summary']['bullets'] %}
                <li>{{ bullet }}</li>
            {% endfor %}
        </ul>
        <div class="article-links">
            <a href="/articles/{{ article['meeting_id'] }}">Read More</a>
            <a href= "{{ article['materials'] }}" target="_blank">Original Documents</a>
            <a href="/report-error">Report Error</a>
        </div>
        <footer>
            This is an automated summary of a public document and is not an official town record. For official meeting minutes, see the link above.
            {% if article['reviewed'] %}
                This article has been human-reviewed.
            {% else %}
                This article has not yet been human-reviewed
            {% endif %}
        </footer>
        <hr>
   </article>
{% endfor %}
</div>
{% endblock %}