{% extends "base.html" %}
{% block content %}
<h2>The WUIW Weekly Digest</h2>
<p>Add your email below to be notified when the weekly digest launches. In the meantime, visit <a href="/">What's Up in Windsor</a> to find out what happened at the last town council meeting in 2 minutes or less!</p>
<iframe
  scrolling="no"
  style="width:100%;height:220px;border:1px #ccc solid"
  src="https://buttondown.com/wuiw?as_embed=true"
></iframe>
<footer>
    What's Up in Windsor is free for readers and it always will be.
</footer>
{% endblock %}