{% extends "base.html" %}
{% block content %}
    <h2>Consider supporting!</h2>
    <p>If you find this site useful or just plain like it, please sign up to be notified when the weekly digest launches.</p>

    <!-- <p>And if you're feeling generous</p>

    <center>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="funmike" data-color="#40DCA5" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </center> -->

    <p>Thank you for reading!</p>

    <hr>

{% endblock %}